main {
    margin-left: 0%;
    width: 100%;
  }

  .image {

    h1 {
      color: white;
      position: absolute;
      right:38%;
      font-size: 50px;
      font-family: 'Lato-Bold';
    }

    img {
      width: 100%;
    }

    button {
      font-size: 18px;
      border-radius: 50px;
      border-color: white;
      background-color: transparent;
      color: white;
      position: absolute;
      right: 41%;
      bottom: 30%;
      height: 8%;
      width: 18%;
    }
  }

  .news {
    h1 {
      text-align: center;
      color: white;
      font-family: 'Lato-Bold';
      font-size: 30px;
    }

    ul {
      list-style: none;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 250px;
      padding: 0 40px 0px 140px;
    }

    img {
      width: 21%;
      margin-left: 10%;
    }

    a {
      color: white;
    }

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: "Lato-Regular";
      font-size: 18px;
    }
  }

  .principal {
    display: flex;
    background-color: white;
    height: max-content;
    position: relative;
    bottom: 0;

    h1 {
      text-align: center;
      color: #0E3362;
      font-family: 'Lato-Bold';
      font-size: 35px;
    }

    p {
      color: #09274E;
      margin-left: 40px;
      margin-right: 40px;
      font-size: 24px;
      font-family: "Lato-Regular";
    }

    h2 {
      font-size: 15px;
      font-family: 'Alegreya-Italic-400';
      text-align: end;
      padding-right: 45px;
      color: #09274E;
    }
}
