main {
    margin-left: 0%;
    width: 100%;
  }

  .principal {
    display: flex;
    background-color: white;
    height: 250px;
    position: relative;
    bottom: 0;

    h1 {
      text-align: center;
      color: #0E3362;
      font-family: 'Lato-Bold.otf';
    }

    p {
      color: #09274E;
      margin-left: 40px;
      margin-right: 40px;
      font-size: 20px;
    }

    h2 {
      font-size: 15px;
      text-align: end;
      padding-right: 45px;
      color: #09274E;
    }
}
