.main {
    padding-bottom: 60px;

    h1 {
        color: white;
        padding-left: 4%;
        font-family: "Lato-Bold";
    }

    h2{
        color: white;
        padding-left: 3%;
        font-size: 20px;
        font-family: "Lato-Regular";
    }

    p {
        color: white;
        padding-left: 3%;
        font-size: 20px;
        font-family: "Lato-Regular";
    }
}