@import-normalize;
@import "./variable";

body {
  margin: 0;
  padding: 0;
  min-height: 700px;
  width: 100%;
  background-image: linear-gradient($azul-escuro, $azul-claro);
}

body::-webkit-scrollbar{
  width: 4px;
  height: 6px;
}

body::-webkit-scrollbar-thumb{
  background-color: rgba(2, 2, 87, 0.473);
  border-radius: 22px;
}

body::-webkit-scrollbar-track{
  background: linear-gradient(#041833, #154580);
}

@font-face {
  font-family: "Bebas Neue Bold 700";
  src: local("Bebas Neue Bold 700"),
    url("../assets/fontes/Bebas Neue Bold 700.otf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Lato-Bold";
  src: local("Lato-Bold"),
    url("../assets/fontes/Lato-Bold.otf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
  @font-face {
    font-family: "Lato-Regular";
    src: local("Lato-Regular"),
      url("../assets/fontes/Lato-Regular.otf") format("truetype");
    font-weight: 700;
    font-display: swap;
}
